* {
  background-color: rgb(252, 242, 226);
  box-sizing: border-box;
}
.App {
  margin: 0;
  overflow: hidden;
}

/* NAVBAR */
li, a, button {
  font-family: monospace;
  font-weight: 100;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.logo {
  margin-bottom: 10px;
  height: auto;
  width: 10%;
  cursor: pointer;
  margin-left: -10%;
  resize: none;
}

.no-header {
  transform: translateY(-200%);
  transition: transform 0.7s ease-out;
  justify-content: space-between;
  align-items: center;
  height: 0vw;
  padding: 2vw 10%;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0vw;
  padding: 2vw 10%;
  position: fixed;
  transition: transform 0.5s ease-out;
  width: 100%;
  z-index: 10;
  opacity: 90%;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  opacity: 50%;
  color: crimson;
}

/* HOME */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 11vw;
  font-family: monospace;
}

.name {
  font-size: 1.2vw;
  color: rgb(253, 129, 129);
  margin-bottom: -5vw;
}

.ray {
  font-size: 7vw;
  margin-bottom: 3vw;
}

.typed {
  font-size: 2vw;
  width: 130vw;
  height: 5vw;
  text-align: center;
  margin-bottom: 5vw;
}

.scroll {
  font-size: 1vw;
  text-align: center;
  border: 0.15vw solid rgb(255, 126, 126);
  border-radius: 1vw;
  padding: 1vw;
  margin-bottom: 25vw;
  color: rgb(255, 126, 126);
  transition: all 0.3s ease-out;
}

.scroll:hover {
  opacity: 75%;
  background-color: rgb(236, 173, 173);
  cursor: pointer;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0vw;
  margin-top: -10vw;
  padding-bottom: 1vw;
  font-family: monospace;
  background-color: #7e9278;
  z-index: 9;
}

.image-placeholder {
  padding: 11vw;
  border: rgb(252, 242, 226) 0.2vw solid;
  border-radius: 50vw;
  margin: 10vw;
  margin-top: 5vw;
  margin-right: 5vw;
  background-color: transparent;
}

.text {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0vw;
  margin: 10vw;
  align-items: flex-start;
  margin-bottom: 12vw;
  margin-top: 4vw;
}

.text h1 {
  background-color: transparent;
  font-size: 4vw;
  color: rgb(252, 242, 226)
}

.line {
  background-color: transparent;
  margin-top: -3vw;
  padding-bottom: 5vw;
  color: rgb(252, 226, 226);
  font-size: 1vw;
  margin-bottom: -2vw;
}
.second {
  color: black;
}

.text h2 {
  margin-top: -1vw;
  background-color: transparent;
  font-size: 0.8vw;
  padding-bottom: 2vw;
  color: rgb(252, 242, 226);
  line-height: 2;
  font-weight: 100;
}

.text a {
  background-color: transparent;
  font-size: 0.8vw;
  color: rgb(252, 242, 226);
  transition: all 0.3s ease 0s;
  text-decoration-line: underline; 
}
.text a:hover {
  opacity: 75%;
  color: rgb(255, 80, 80);
}

.technologies {
  margin-top: 1vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.technologies h2 {
  color: rgb(56, 56, 56);
  font-weight: bold;
  font-size: 1.2vw;
  margin-bottom: -2vw;
}

.list-container {
  margin-top: 1vw;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  font-family: monospace;
}

.list-container ul {
  align-items: flex-start;
  justify-content: flex-start;
}
.list-container ul, li {
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-right: 1vw;
}

.list-container li {
  list-style-position: outside;
  list-style: none;
  font-size: 0.6vw;
  margin-bottom: 1vw;
  font-weight: 1000;
}

.list-container li:before {
  content: url(./assets/arrow.svg);
  display: inline-block;
  color: rgb(70, 70, 70);
  width: 1vw;
}
/* EXPERIENCE */

.experience {
  background-color: rgb(252, 242, 226);
  margin-top: 10vh;
}
