.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0vw;
    margin-top: -10vw;
    padding-bottom: 1vw;
    font-family: Calluna, Arial, sans-serif;
    background-color: #7e9278;
    z-index: 9;
  }
  
  .about img {
    margin: 9vw;
    margin-top: -5vw;
    margin-right: 0vw;
    width: 25%;
    height: 23vw;
  }

  .text {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 0vw;
    margin: 10vw;
    align-items: flex-start;
    margin-bottom: 8vw;
    margin-top: 4vw;
  }
  
  .text h1 {
    background-color: transparent;
    font-size: 5vw;
    color: rgb(252, 242, 226)
  }
  
  .line {
    background-color: transparent;
    margin-top: -3vw;
    padding-bottom: 5vw;
    color: rgb(252, 226, 226);
    font-size: 1vw;
    margin-bottom: -2vw;
  }
  
  .text h2 {
    margin-top: -1vw;
    background-color: transparent;
    font-size: 1vw;
    padding-bottom: 2vw;
    color: rgb(252, 242, 226);
    line-height: 2;
    font-weight: 100;
  }
  
  .text a {
    background-color: transparent;
    font-size: 1vw;
    color: rgb(252, 242, 226);
    transition: all 0.3s ease 0s;
    text-decoration-line: underline; 
  }
  .text a:hover {
    opacity: 75%;
    color: rgb(255, 80, 80);
  }
  
  .technologies {
    margin-top: 1vw;
    background-color:  transparent;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  
  .technologies h2 {
    color: rgb(252, 242, 226);
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: -2vw;
    padding: 0;
    padding-bottom: 0.5vw;
  }
  
  .technologies h4 {
    color: rgb(252, 242, 226);
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;

    padding: 0;
    background-color: transparent;
  }
  .list-container {
    margin-top: 0vw;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: monospace;
    flex-wrap: wrap;
    margin-right: 12vw;
  }

  .list-container div {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .list-container img {
    border: solid 0.3vw rgb(255, 255, 255);
    border-radius: 30%;
    width:4vw;
    height:4vw;
    object-fit: scale-down;
    margin: 2vw;
  }

  .list-container h3 {
    font-size: 1vw;
    background-color: transparent;
    margin: 0;
    margin-top: -1.5vw;
    color: rgb(255, 255, 255)
  }